.nbl-peoplePreview
  .n-h2._desk=h2Text
  .nbl-peoplePreview__main
    img(src=imgSrc alt="")
    <div class="nbl-peoplePreview__main-info">
      .n-h2._mob=h2Text
      <div>
        .n-h3=h3Text
        .n-p2._opacity Expert Rubkoff
      </div>
    </div>
  .n-p2=pText
  button.n-button-green(data-modal-open data-modal-name="form-modal")
    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
    </svg>
    p.n-button1 discuss the project