.header-sidebar
  .header-sidebar__inner
    .n-footer
      .n-footer__top 
        ul._mobile
          li.n-footer__open
            a._icon(href="#")
              .n-button1 Projects 
              .n-button1 866
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 10L12 14L16 10" stroke="white"/>
            </svg>
            - var val = 0;  
            while val < 5
              each title in ['All projects', 'Houses for sale ', 'Laminated timber', 'Objects on the map', 'Open Village']
                li 
                  a(hre="#")= title 
                - val++
        ul._mobile
          li.n-footer__open
            .n-h6 About company
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 10L12 14L16 10" stroke="white"/>
            </svg>
            - var val = 0;  
            while val < 5
              each title in ['All projects', 'Houses for sale ', 'Laminated timber', 'Houses for sale', 'Combined houses']
                li 
                  a(hre="#")= title 
                - val++
        ul._mobile
          li.n-footer__open
            a._icon(href="#")
              .n-button1 Contacts 
              .n-button1 +7 800 555 35 35
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 10L12 14L16 10" stroke="white"/>
            </svg>
            - var val = 0;  
            while val < 7
              each title in ['Construction', 'Individual design', "Site's selection", 'Engineering and Electrical', 'Furnishing White box', 'Interior design', 'Furnishings']
                li 
                  a(hre="#")= title 
                - val++
        ul._mobile
          li.n-footer__open
            a._icon(href="#")
              .n-button1 Villages 
              .n-button1 12866
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 10L12 14L16 10" stroke="white"/>
            </svg>
            - var val = 0;  
            while val < 7
              each title in ['About company', 'Team', 'Contacts', 'Partner villages', 'Partners', 'Interior design', 'Furnishings']
                li 
                  a(hre="#")= title 
                - val++
        ul._mobile
          li.n-footer__open
            .n-h6 Manufacturers
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 10L12 14L16 10" stroke="white"/>
            </svg>
            - var val = 0;  
            while val < 7
              each title in ['About company', 'Team', 'Contacts', 'Partner villages', 'Partners', 'Interior design', 'Furnishings']
                li 
                  a(hre="#")= title 
                - val++